Linken Global Outreach.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: linken
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782696584753-source-1782697647674-target
      selected: false
      source: '1782696584753'
      sourceHandle: source
      target: '1782697647674'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1782697647674-source-1782696927175-target
      selected: false
      source: '1782697647674'
      sourceHandle: source
      target: '1782696927175'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1782696927175-source-1782705941957-target
      source: '1782696927175'
      sourceHandle: source
      target: '1782705941957'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1782705941957-source-1782698204512-target
      source: '1782705941957'
      sourceHandle: source
      target: '1782698204512'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 请输入或直接从 Excel 复制粘贴您的目标公司域名（一行一个，例如 stripe.com）
          hint: ''
          label: domain
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: domain
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: raw_data
          max_length: 10
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: raw_data
      height: 134
      id: '1782696584753'
      position:
        x: 72.53101628387986
        y: 283.11395866522724
      positionAbsolute:
        x: 72.53101628387986
        y: 283.11395866522724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: f452036b-0c2e-46a5-a177-42b60be2ea81
          role: system
          text: "你是一位世界顶级的商业发展（BD）专家，精通麦肯锡风格的高管商务沟通。落款一律使用 Chris。\n\n【当前任务】\n请仔细阅读由\
            \ Hunter.io 返回的原始数据包：{{#1782697647674.body#}}。\n请从中筛选出最核心、级别最高的一位专家/高管（优先研发、技术、工程或核心管理层）。\n\
            \n【核心填空死命令】\n请严格按照系统配置的结构化字段（Structured Output）进行内容输出。正文中绝对不能夹带任何原生 JSON\
            \ 标签（如 【Email】或分割线），直接将高水平内容塞进对应的格子里：\n\n1. email: 精准提取该高管的真实工作邮箱（如：miguel.silva@vanderlande.com）。\n\
            2. linkedin_url: 精准提取该高管的真实领英个人主页链接。\n3. connect_invite: 撰写一句话的领英加好友申请，字数在\
            \ 25 个单词以内，极其口语化且自然（如：Hi Miguel, notice your work in solution engineering\
            \ at Vanderlande. Let's connect! - Chris）。\n4.outreach_letter: 恢复您最擅长的顶级麦肯锡商业风格！字数严格控制在\
            \ 120-150 字以内,严禁使用廉价、夸张的推销词汇（禁止使用 groundbreaking, alternative, maximize\
            \ 等）。必须像下面这样优雅、老练、直击痛点：\n\nHi [对应高管的 first_name],\n\nLeading engineering\
            \ at [对应公司名称], your focus on scaling innovation and technical efficiency\
            \ is admirable. We offer an enterprise-grade framework designed to automate\
            \ specialized development workflows, routinely unlocking up to a 20% increase\
            \ in team-level productivity.\n\nGiven your strategic initiatives within\
            \ high-value solution engineering, our benchmarks in mitigating operational\
            \ friction could closely align with your current roadmaps. \n\nWould love\
            \ to briefly discuss how this might translate to your specific environment\
            \ over a concise, 5-minute sync next Tuesday.\n\nBest,\nChris"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              connect_invite:
                type: string
              email:
                type: string
              lead_quality:
                type: string
              linkedin_url:
                type: string
              outreach_letter:
                type: string
              text:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782696927175'
      position:
        x: 715.3222109592479
        y: 199.44072927716266
      positionAbsolute:
        x: 715.3222109592479
        y: 199.44072927716266
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: 'domain:{{#1782696584753.domain#}}

          api_key:5e767aabeabce36c1870cfbd092917d65dcb1b5b'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://api.hunter.io/v2/domain-search
        variables: []
      height: 137
      id: '1782697647674'
      position:
        x: 303.8197072663297
        y: 252.89131275144135
      positionAbsolute:
        x: 303.8197072663297
        y: 252.89131275144135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782696584753'
          - domain
          value_type: string
          variable: Company
        - value_selector:
          - '1782696927175'
          - structured_output
          - linkedin_url
          value_type: object
          variable: linkedin_url
        - value_selector:
          - '1782696927175'
          - structured_output
          - connect_invite
          value_type: object
          variable: LinkedIn_Invite
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1782698204512'
      position:
        x: 1443.3547152690555
        y: 282
      positionAbsolute:
        x: 1443.3547152690555
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          label:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          llm_description: Email username
          max: null
          min: null
          name: username_send
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          label:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          llm_description: AUTHORIZE CODE
          max: null
          min: null
          name: authorization_code
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          label:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          llm_description: Recipient mailbox, multiple mailboxes separated by commas
          max: null
          min: null
          name: username_recv
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          label:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          llm_description: subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          label:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          llm_description: 内容
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          authorization_code: ''
          content: ''
          subject: ''
          username_recv: ''
          username_send: ''
        plugin_id: wjdsg/163-smtp-send-mail
        plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=86621a15-ff77-4424-b6ee-4829a979474c&filename=d34785dd2b36ddffe8dc7c28d648a5a18e590831169662dd0f37d0cc48d3d203.svg
        provider_id: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_name: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_type: builtin
        selected: false
        title: 163SMTP邮件发送
        tool_configurations: {}
        tool_description: 163SMTP邮件发送
        tool_label: 163SMTP邮件发送
        tool_name: 163-smtp-send-mail
        tool_node_version: '2'
        tool_parameters:
          authorization_code:
            type: mixed
            value: WERpG9n6beYan3Pp
          content:
            type: mixed
            value: '{{#1782696927175.structured_output.outreach_letter#}}'
          subject:
            type: mixed
            value: Partnership Proposal for {{#1782696584753.domain#}}- Efficiency
              Automation
          username_recv:
            type: mixed
            value: '{{#1782696927175.structured_output.email#}}'
          username_send:
            type: mixed
            value: 15089545771@163.com
        type: tool
      height: 51
      id: '1782705941957'
      position:
        x: 1086.5107644538818
        y: 185.98241820377777
      positionAbsolute:
        x: 1086.5107644538818
        y: 185.98241820377777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -454.6830765266677
      y: 16.06651363473665
      zoom: 0.757858283255199
  rag_pipeline_variables: []
