Linken Global Outreach.yml
app:
  description: 'ENTER TARGET B2B COMPANY DOMAIN: System will automatically fetch the
    highest-ranking executive and draft a McKinsey-level pitch for you.We do not store
    domain search data. Your email authentication and LinkedIn profiles remain 100%
    private.'
  icon: a53902ba-b1a7-44b0-b1b2-6faab037e381
  icon_background: ''
  icon_type: image
  mode: workflow
  name: Linken Global Outreach
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1782697647674-source-1782696927175-target
      selected: false
      source: '1782697647674'
      sourceHandle: source
      target: '1782696927175'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1782696927175-source-1782705941957-target
      selected: false
      source: '1782696927175'
      sourceHandle: source
      target: '1782705941957'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1782705941957-source-1782698204512-target
      selected: false
      source: '1782705941957'
      sourceHandle: source
      target: '1782698204512'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1782696584753-source-1782697647674-target
      source: '1782696584753'
      sourceHandle: source
      target: '1782697647674'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 请输入或直接从 Excel 复制粘贴您的目标公司域名（一行一个，例如 stripe.com）
          hint: ''
          label: domain
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: domain
        - default: Alex
          hint: ''
          label: sender_name
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: sender_name
        - default: your prodct value
          hint: ''
          label: value
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: value
        - default: your product
          hint: ''
          label: product
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: product
        - default: 150xxxxxxxx@163.com
          hint: ''
          label: your_email
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: your_email
      height: 212
      id: '1782696584753'
      position:
        x: 19.531016283879865
        y: 274.11395866522724
      positionAbsolute:
        x: 19.531016283879865
        y: 274.11395866522724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: f452036b-0c2e-46a5-a177-42b60be2ea81
          role: system
          text: "You are a world-class Business Development (BD) expert, exceptional\
            \ at crafting high-converting, McKinsey-style outreach letters for executive\
            \ communication. \n\n[CURRENT CONTEXT]\n- Sender Name: {{#1782696584753.sender_name#}}\n\
            - Our Product/Solution: {{#1782696584753.product#}}\n- Our Core Value\
            \ Proposition: {{#1782696584753.value#}}\n\n[CURRENT TASK]\nCarefully\
            \ analyze the raw data package or table provided: {{#1782697647674.body#}}\n\
            Extract the key details of the target executive(s). If multiple prospects\
            \ are provided, process the primary or highest-ranking technical/management\
            \ lead appropriate for this outreach.\n\n[OUTPUT CONSTRAINTS]\nStrictly\
            \ populate the configured Structured Output fields. Do NOT include any\
            \ native markdown tags or conversational fluff. Insert the refined content\
            \ directly into the corresponding slots:\n\n1. email: Extract the executive's\
            \ real corporate email address.\n2. linkedin_url: Extract the executive's\
            \ real personal LinkedIn profile URL. If NOT found in the data, strictly\
            \ output \"N/A\".Do not hallucinate.\n3. connect_invite: Write a one-sentence\
            \ LinkedIn connection request, strictly under 25 words, conversational,\
            \ reflecting their role and signed by {{#1782696584753.sender_name#}}.\
            \ If no LinkedIn is available, tailor it generally.\n4. outreach_letter:\
            \ Generate the actual email body using a sophisticated McKinsey tone.\
            \ Seamlessly integrate our product and value proposition based on the\
            \ executive's department/pain point. Start directly with the greeting:\n\
            \nHi [First_Name],\n\nAt the helm of [Executive's Role/Department] for\
            \ [Company_Name], your dedication to elevating operational and technical\
            \ efficiencies resonates significantly. Our solution, {{#1782696584753.product#}},\
            \ is specifically engineered to address these challenges by enabling teams\
            \ to {{#1782696584753.value#}}.\n\nConsidering your strategic direction,\
            \ the alignment with our benchmarks in diminishing operational impediments\
            \ is promising. I'd be keen to explore {{#1782696584753.product#}}  has\
            \ {{#1782696584753.value#}}  which can be integrated into your current\
            \ strategic projects during a brief, hope you may be interested in it.\n\
            \nBest,\n{{#1782696584753.sender_name#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              company:
                type: string
              connect_invite:
                type: string
              email:
                type: string
              lead_quality:
                type: string
              linkedin_url:
                type: string
              outreach_letter:
                type: string
              text:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1782696927175'
      position:
        x: 713.3029620409549
        y: 199.44072927716266
      positionAbsolute:
        x: 713.3029620409549
        y: 199.44072927716266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: 'domain:{{#1782696584753.domain#}}

          api_key:[请在此处输入您的 Hunter.io API Key]'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://api.hunter.io/v2/domain-search
        variables: []
      height: 137
      id: '1782697647674'
      position:
        x: 547.0922161912486
        y: 295.11395866522724
      positionAbsolute:
        x: 547.0922161912486
        y: 295.11395866522724
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782696927175'
          - structured_output
          - company
          value_type: object
          variable: Company
        - value_selector:
          - '1782696927175'
          - structured_output
          - linkedin_url
          value_type: object
          variable: linkedin_url
        - value_selector:
          - '1782696927175'
          - structured_output
          - connect_invite
          value_type: object
          variable: LinkedIn_Invite
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1782698204512'
      position:
        x: 1443.3547152690555
        y: 282
      positionAbsolute:
        x: 1443.3547152690555
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          label:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          llm_description: Email username
          max: null
          min: null
          name: username_send
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          label:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          llm_description: AUTHORIZE CODE
          max: null
          min: null
          name: authorization_code
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          label:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          llm_description: Recipient mailbox, multiple mailboxes separated by commas
          max: null
          min: null
          name: username_recv
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          label:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          llm_description: subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          label:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          llm_description: 内容
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          authorization_code: ''
          content: ''
          subject: ''
          username_recv: ''
          username_send: ''
        plugin_id: wjdsg/163-smtp-send-mail
        plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=86621a15-ff77-4424-b6ee-4829a979474c&filename=d34785dd2b36ddffe8dc7c28d648a5a18e590831169662dd0f37d0cc48d3d203.svg
        provider_id: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_name: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_type: builtin
        selected: false
        title: 163SMTP邮件发送
        tool_configurations: {}
        tool_description: 163SMTP邮件发送
        tool_label: 163SMTP邮件发送
        tool_name: 163-smtp-send-mail
        tool_node_version: '2'
        tool_parameters:
          authorization_code:
            type: mixed
            value: WERpG9n6beYan3Pp
          content:
            type: mixed
            value: '{{#1782696927175.structured_output.outreach_letter#}}'
          subject:
            type: mixed
            value: Partnership Proposal :{{#1782696584753.product#}} for{{#1782696927175.structured_output.company#}}
          username_recv:
            type: mixed
            value: '{{#1782696927175.structured_output.email#}}'
          username_send:
            type: mixed
            value: '{{#1782696584753.your_email#}}'
        type: tool
      height: 51
      id: '1782705941957'
      position:
        x: 1086.5107644538818
        y: 185.98241820377777
      positionAbsolute:
        x: 1086.5107644538818
        y: 185.98241820377777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 60.19039396170592
      y: 132.10044788571048
      zoom: 0.6597539553864471
  rag_pipeline_variables: []
